#top { 
  height: 100vh;
  background: url('/assets/images/top-background.webp') no-repeat, url('/assets/images/top-background.png') no-repeat;
  background-size: 100%;
}

.top-all {
  padding-top: 20vh
}

#title {
	color: #FFFFFF;
	font-size: 70px;
	font-weight: 700;
	line-height: 82px;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0 2px 10px 0 rgba(126,124,124,0.5);
  margin-bottom: 30px;
}

#search-bar {
	height: 70px;
	width: 60%;
	border-radius: 21px;
	background-color: #FFFFFF;
  box-shadow: 0 5px 22px 3px rgba(61,59,59,0.5);
	font-family: "Heiti TC" !important;
	font-size: 24px;
	font-weight: 500;
	line-height: 25px;
  text-align: left;
  padding-left: 45px;
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:focus {
    box-shadow: 0 0 0 0;
    border-color: #FFFFFF;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

#search {
  text-align: center;
}



#search-button {
  height: 70px;
  margin-left: 5px;
	width: 197px;
	border-radius: 21px;
	background: linear-gradient(130.58deg, #4BBEDE 0%, #7B91DA 100%);
  box-shadow: 0 5px 11px 1px rgba(61,59,59,0.5);
  color: white;
  font-family: "Heiti TC" !important;
	font-size: 24px;
	font-weight: 500;
	line-height: 25px;
	text-align: center;
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    box-shadow: 0 0 0 0 rgba(61,59,59,0.5);
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}


// Main CSS

#main {
  margin-top: -30%;
  min-height: 400px;
  #features {
    margin-bottom: -300px;
  }
  .feature-card {
    height: 514px;
    width: 369px;
    border-radius: 21px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 22px 3px rgba(106,102,102,0.5);
    .uk-card-title {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
    }
  
    p {
      color: #00000075;
      font-size: 24px;
      font-weight: 300;
      line-height: 33px;
      text-align: center;
    }
  }
}

.search-result {

  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 10px 3px rgba(106,102,102,0.5);
    transition: all 0.2s;
  }

  border-radius: 21px;
  width: 85%;
	background-color: #FFFFFF;
  box-shadow: 0 5px 22px 3px rgba(106,102,102,0.5);
  transition: all 0.2s;
  
  .uk-card-title {
    &:hover {
      text-decoration: underline;
    }
    color: #000000;
    font-family: Avenir;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
  }
  .side-effect-count {
      color: black;
  }
}


// Footer CSS
#footer {
  height: 210px;
  margin-top: 50px;
  background-color: #ebebeb;

  #site-map {
    margin-top: 66px;
    .footer-link {
        color: #585858;
        font-size: 1.2rem;
        font-weight: 900;
        line-height: 33px;
    }
  }

  #footer-divider {
	  border: 0.5px solid #979797;
  }

  #privacy-terms {
    a {
      color: grey;
    }
  }
}
