<section id="top">
  <div class="top-all">
    <div class="uk-container">
      <div class="uk-margin uk-animation-slide-bottom-small" id="search">
        <input class="uk-input" [(ngModel)]="query" id="search-bar" type="text" placeholder="Search a drug, a side effect, or anything">
        <button class="uk-button" id="search-button" (click)="sendSearchRequest()">Search</button>
      </div>
    </div>
  </div>
</section>

<section id="main">
  <div class="uk-container uk-align-center" *ngIf="_search.found == 'found'">
    <!-- <h1 class="uk-text-center">{{_search.results.length}} Results</h1> -->
    <div *ngFor="let result of _search.results" class="search-result uk-align-center uk-card uk-card-default uk-card-body uk-width-1-2@m">
      <h3 class="uk-card-title" [innerHtml]="result['name']"></h3>
      <div class="uk-grid-divider" uk-grid>
        <div class="uk-width-expand@s">
          <p>
            <b>Description:</b> {{result['description']}}
          </p>
        </div>
        <div class="uk-width-auto@s" *ngIf="result['structure_link']">
          <img style="margin-top: -30px;" [src]="result['structure_link']" width="200px" height="200px">
        </div>
      </div>
      <p>
        <b>Common Brands: </b>
        <span *ngFor="let name of result['generic_names']" [innerHtml]="name"></span>
      </p>
      <p>
        <b>Generic Names: </b>
        <span *ngFor="let name of result['common_brands']" [innerHtml]="name"></span>
      </p>
      <p class="side-effect-count">
        <b>Total Side Effect Count:</b> {{result['side_effects']['count']['total']}}
      </p>
    </div>
  </div>
</section>

<section id="footer">
  <div class="uk-container">
    <div id="site-map" class="uk-child-width-1-3@m uk-text-center" uk-grid>
      <div>
        <a class="footer-link">About Us</a>
      </div>
      <div>
        <a class="footer-link">Search</a>
      </div>
      <div>
        <a class="footer-link">Profile</a>
      </div>
    </div>
    <hr id="footer-divider">
    <div class="uk-child-width-expand" uk-grid>
      <div id="copyright">
        &copy; 2018 DrugAID+
      </div>
      <div class="uk-text-right" id="privacy-terms">
        <a>Privacy</a>
        /
        <a>Terms</a>
      </div>
    </div>
  </div>
</section>