<section id="top">
  <div class="top-all">
    <div class="uk-container">
      <h1 class="uk-text-center uk-animation-fade" id="title">Welcome to DrugAID+</h1>
      <div class="uk-margin uk-animation-slide-bottom-small" id="search">
        <input class="uk-input" id="search-bar" type="text" placeholder="Search a drug, a side effect, or anything">
        <button class="uk-button" id="search-button">Search</button>
      </div>
    </div>
  </div>
</section>

<section id="main" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 1000">
  <section id="features">
    <div class="uk-container">
      <div class="uk-child-width-1-3@s uk-grid uk-grid-match" uk-grid>
        <div>
          <div class="uk-card feature-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-bottom-medium">
            <h3 class="uk-card-title">Pharmacovigilance</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div>
          <div class="uk-card feature-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-bottom-medium">
            <h3 class="uk-card-title">Drug to Drug Interactions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div>
          <div class="uk-card feature-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-bottom-medium">
            <h3 class="uk-card-title">Chemical Composition</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="most-searched"></section>
  <section id="database-size"></section>
  <section id="white-paper"></section>
</section>

<section id="footer"></section>