/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900');

* {
  font-family: 'Avenir', 'Nunito Sans' !important;
}

em {
    background-color: lightyellow;
    color: black !important;
    font-style: normal;
    padding: 5px;
  }